@import url(node_modules/roboto-fontface/css/roboto-fontface.css);

html, body {
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

body {
    background: #fafafa;
    margin: 0;
}

h4 {
    padding-top: 48px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 40px;
}

.col-xs-12,
.col-xs-10 {
    padding: 0;
}

.module {
    margin: 0 20px;
}

.divider {
    margin-top: 4px;
}

/* Colors */
.color-group {
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.color-group > ul {
    list-style: none;
}

.color-group li {
    padding: 15px;
    font-weight: 500;
}

.color-group .name {
    display: block;
    margin-bottom: 60px;
    font-weight: 500;
}

.color-group .hex {
    float: right;
    text-transform: uppercase;
}